* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #fff;
}

#cont-table {
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

#cont-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5%;
  width: 50%;
}
